$primary: #5753f6;
$green: #3FD5B7;
$red: #ec3131;
$red-hover: #ff7272;
$txt: #172850;
$txt2: #878FA6;
$bg: #ECF2F4;
$bg2: #CCDAED;
$border: #eff1f5;

$darkTxt: rgba(255, 255, 255, 0.9);
$darkBg: #3d434c;
$darkBg2: #373b43;
$darkBg3: #464c59;
$darkBorder: rgba(0, 0, 0, 0.3);

$side-menu-width: 280px;
